{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Site{% else %}Welcome to site{% endif %}
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Best Directory</a>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
        <ul class="navbar-nav"></ul>
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <a href="/info">Информация</a>
            <a href="/directory">Справочник</a>
            {% if current_user.is_authenticated %}
            {% if current_user.status == 'Администратор' %}
            <a href="/add_article">Добавить новость</a>
            {% endif %}
            <a href="/logout">Выход</a>
            <p>Привет, {{ current_user.username }}! Статус: {{ current_user.status }}</p>
            {% else %}
            <a href="/registration">Регистрация</a>
            <a href="/login">Вход</a>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

<hr>

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}

    {% endblock %}
</div>
{% endblock %}

<hr>
Copyright 2022 (C) Pavel Kashcheev