{% extends 'base.html' %}


{% block content %}
<h1>News Title</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea explicabo fugit iste rem exercitationem ipsam cum odit molestias dicta rerum quasi, expedita voluptatibus! Eum id odio dolorem aperiam laudantium optio?</p>
<h3>Author: Bek1zo, Date: 28.02.2022 16:52</h3>

<h1>News Title</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea explicabo fugit iste rem exercitationem ipsam cum odit molestias dicta rerum quasi, expedita voluptatibus! Eum id odio dolorem aperiam laudantium optio?</p>
<h3>Author: Bek1zo, Date: 28.02.2022 16:52</h3>

<h1>News Title</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea explicabo fugit iste rem exercitationem ipsam cum odit molestias dicta rerum quasi, expedita voluptatibus! Eum id odio dolorem aperiam laudantium optio?</p>
<h3>Author: Bek1zo, Date: 28.02.2022 16:52</h3>

<h1>News Title</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea explicabo fugit iste rem exercitationem ipsam cum odit molestias dicta rerum quasi, expedita voluptatibus! Eum id odio dolorem aperiam laudantium optio?</p>
<h3>Author: Bek1zo, Date: 28.02.2022 16:52</h3>
{% endblock %}