{% extends 'base.html' %}


{% block content %}
<h1>About us</h1>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex sequi odit labore repudiandae est dolor animi inventore quae odio, nesciunt velit quidem assumenda numquam, ad exercitationem eum omnis consectetur quisquam!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ratione reiciendis recusandae architecto veniam voluptates accusamus at enim non, ex, explicabo nobis similique, quidem laboriosam tenetur fugit tempora veritatis omnis.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione laudantium a quidem quia? Enim, cum! Velit nisi, sunt facere impedit molestiae similique esse mollitia, voluptas officiis at magni, maxime enim.
</p>
<h3>Contacts</h3>
<p>
    Address: Moscow, Maroseyka street 12.<br>
    Phone: 8(800)555-35-35<br>
    Telegram: Bek1zo
</p>
{% endblock %}